/* General Navbar Styles */
.navbar {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1000;
}

/* .navbar-collapse {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Optional: Style for links */
.nav-link {
  display: block; /* Ensuring the links take the full width */
  color: #1a1a1a;
}

/* Hide checkbox on all screens */
#navbar-toggle {
  display: none;
}

/* Desktop: Links inline, no toggle */
@media (min-width: 768px) {
  .navbar-toggler {
      display: none;
  }

  .navbar-nav {
      display: inline;
  }

  .nav-item {
      display: inline-block;
  }

  .nav-link {
      text-decoration: none;
      padding: 5px 0;
      backdrop-filter: blur(15px);
      width: 140px;
      text-align: center;
      font-size: 1rem;
      transition: transform 0.1s, box-shadow 0.1s;
      box-shadow: 3px 6px #1a2533; /* Shadow offset for top-left light source */
  }
  .nav-link:active {
    transform: translate(3px, 6px); /* Match shadow offset for consistent depth */
    box-shadow: 1px 2px #1a2533; /* Smaller shadow for pressed effect */
  }
}

/* Mobile: Collapsed Navbar */
@media (max-width: 767px) {
  .navbar {
      width: auto;
      right: 20px;
      top: 10px;
      left: auto;
      transform: none;
      padding: 5px;
  }

  .navbar-collapse {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      width: max-content;
  }

  /* Show collapse when checkbox is checked */
  #navbar-toggle:checked + .navbar-toggler + .navbar-collapse {
      display: flex;
      flex-direction: column;
  }

  .navbar-toggler {
      display: block;
      cursor: pointer;
      z-index: 1100;
  }

  .navbar-toggler-icon {
    background-color: var(--green);
  }

  .nav-link {
    text-align: right;
  }
}