:root {
  --primary-color: #f8f9fa; /* Soft Off-White */
  --text-color: #304252;
  --button-color: #2E4057; /* Midnight Blue */
  --button-hover-color: #0056b3; /* Darker Blue */
  /* From the flag on the logo */
  --green: #1e683b;
  --red: #ee2431;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

.intro {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  color: var(--button-color);
}
a:hover {
  color: var(--button-hover-color);
}

#hero {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 350px 0;
}

#hero::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/promo.webp') no-repeat center center/cover;
  z-index: -1;
  opacity: 0.9; /* Slight opacity for the overlay effect */
}

#logo {
  max-width: 450px;
}

.cta-button {
  padding: 0.75rem 2.5rem !important;
  width: 225px;
}

/* Styles for About Us header */
.about-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-header h1 {
  font-size: 2rem;
  margin: 0;
}

.about-header .five-star {
  width: 125px;
  height: auto;
  margin-bottom: 0.75rem;
}

/* Styling for text blocks */
.about-content {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.text-block {
  flex: 1;
  padding: 5rem;
  transition: background-image 0.3s ease-in-out;
  background-color: var(--button-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Show background images on hover */
.left-block:hover{
  background-image: url('../images/van2.jpeg');
}
.right-block:hover {
  background-image: url('../images/van4.jpeg');
}

.bold {
  font-family: monospace;
  font-weight: 700;
}

.container {
  padding: 5% 7%;
  background-color: #f4f4f4;
}

.question-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  grid-template-areas: "image text";
}

.question-block > .text {
  grid-area: text;
  padding: 5px;
  text-align: center;
}

.question-block > div:not(.text) {
  grid-area: image;
}

.question-block img {
  max-width: 100%;
}

.question {
  font-style: italic;
  font-family: 'Baskerville';
  font-weight: 600;
}

.hidden-section {
  display: none; /* Hidden by default */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.hidden-section.active {
  display: block; /* Show when active */
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 1rem auto;
}

.menu-card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu-container .column {
  display: flex;
  flex-direction: column; /* Stack images in a column */
  gap: 10px; /* Adds space between each image */
  align-items: center; /* Centers images within the column */
}

#menu-container .column img {
  width: 100%; /* Ensure images span the full width of their container */
  max-width: 300px; /* Optional: limit the maximum width of each image */
  object-fit: cover; /* Ensures images maintain aspect ratio */
}

h2 {
  color: var(--red);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: var(--green);
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

.additional {
  font-size: 0.9rem;
  color: #757575;
  margin-top: 5px;
}

.contact-info {
  padding: 0;
}
.contact-info h4 {
  font-size: 1.45rem;
}

.social-media {
  font-size: 4rem;
}

/****** My Button  ******/
.btn {
  font-family: monospace;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-weight: 500;
  background-color: var(--button-color);
  display:inline-block;
  cursor:pointer;
  color: #fff;
  padding:5px 24px;
  margin-top: 1rem;
  text-decoration:none;
  text-transform: uppercase;
  border-radius: 0;
  transition: transform 0.1s, box-shadow 0.1s;
  box-shadow: 3px 6px #1a2533; /* Shadow offset for top-left light source */
}
.btn:hover {
  background: #fff;
  color: var(--button-hover-color);
  box-shadow: 0 0 10px 4px rgba(46, 64, 87, 0.7), 3px 6px #1a2533;
  /* Soft glow around button with original shadow preserved */
}
.btn:active {
  transform: translate(3px, 6px); /* Match shadow offset for consistent depth */
  box-shadow: 1px 2px #1a2533; /* Smaller shadow for pressed effect */
}
/****** My Button End  ******/

footer {
  background-color: #e9ecef;
  padding: 1rem;
}

footer p {
  margin: 0;
}

 /***** Cookies  *****/
 .cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8b8b8b;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cookie-consent-banner .accept-cookies-button {
  background-color: var(--button-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

 /***** Cookies End *****/

@media (max-width: 480px) {
  body {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  #logo {
    max-width: 340px;
}
  .intro {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .nav-item {
    margin-left: auto;
  }
  #hero h1 {
    font-size: 1.5rem;
  }
  .about-content {
    flex-direction: column; /* 1 column on small screens */
  } 
}