:root {
  --primary-color: #f8f9fa; /* Soft Off-White */
  --text-color: #304252;
  --button-color: #2E4057; /* Midnight Blue */
  --button-hover-color: #0056b3; /* Darker Blue */
  /* From the flag on the logo */
  --green: #1e683b;
  --red: #ee2431;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

.intro {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  color: var(--button-color);
}
a:hover {
  opacity: 0.9;
}

.navbar, .navbar-toggler-container {
  position: fixed; /* Fixed position for navbar */
  top: 0;
  right: 0; /* Align the navbar to the right */
  left: auto; /* Optional: ensure it does not extend to the left */
  z-index: 1000; /* Ensure it is above the hero section */
  background-color: #fff;
  padding: 0.5rem;
}

.navbar-nav {
  background-color: var(--primary-color);
}

/* Initially hide the navbar */
#navbarNav {
  display: none;
}
 /* Hide the checkbox */
#navbar-toggle {
  display: none;
}

/* Show the navbar when it's targeted */
#navbarNav:target {
  display: block; /* or flex depending on your layout */
}

/* Optional styling for smooth transitions */
.navbar-collapse {
  transition: max-height 0.3s ease; /* Smooth transition */
}

/* Make the toggler clickable */
.navbar-toggler {
  cursor: pointer;
}

/* Optional: Style for links */
.nav-link {
  display: block; /* Ensuring the links take the full width */
  padding: 0.5rem 1rem;
  color: var(--text-color);
}


#hero {
  background: url('images/promo.webp') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 350px 0;
  position: relative;
  z-index: 1;
}

#hero h1 {
  font-size: 2.5rem;
  color: var(--green);
}
#hero h3 {
  text-transform: capitalize;
}

.cta-button {
  padding: 0.75rem 2.5rem;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  width: 165px;
}

.green {
  background-color: var(--green);
  color: #fff;
}

.red {
  background-color: var(--red);
  color: #fff;
}

.green:hover {
  background-color: #fff;
  color: var(--green);
}

.red:hover {
  background-color: #fff;
  color: var(--red);
}

/* Styles for About Us header */
.about-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-header h1 {
  font-size: 2rem;
  margin: 0;
}

.about-header .five-star {
  width: 50px; /* Adjust as needed for sizing */
  height: auto;
}

/* Styling for text blocks */
.about-content {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.text-block {
  flex: 1;
  padding: 5rem;
  transition: background-image 0.3s ease-in-out;
  background-color: var(--button-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Show background images on hover */
.left-block:hover{
  background-image: url('images/van2.jpeg');
}
.right-block:hover {
  background-image: url('images/van4.jpeg');
}

.bold {
  font-family: monospace;
  font-weight: 700;
}

.container {
  padding: 5% 7%;
  background-color: #f4f4f4;
}

.flexy {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.flexy img {
  width: 100%;
  max-width: 48%;
  object-fit: cover;
  border-radius: 8px;
}

.center {
  margin-top: 1.5rem;
}

.center img {
  max-width: 100%;
  border-radius: 8px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin-top: 1rem;
}

.menu-card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--red);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: var(--green);
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.additional {
  font-size: 0.9rem;
  color: #757575;
  margin-top: 5px;
}

.gallery-preview img {
  max-width: 250px;
  margin: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.social-media {
  font-size: 4rem;
}

.question {
  font-style: italic;
}

/****** My Button  ******/
.btn {
  transition: background-color 0.3s ease;
  font-weight: 500;
  background-color: var(--button-color);
  display:inline-block;
  cursor:pointer;
  color: #fff;
  padding:5px 24px;
  text-decoration:none;
  text-transform: capitalize;
  margin: 5px;
}
.btn:hover {
  background: #fff;
  color: var(--button-hover-color);
}
/****** My Button End  ******/

/****** Gallery  *******/
.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  height: auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-size: 40px;
  transition: 0.3s;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #bbb;
}


@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
 /******* End Gallery  *********/

footer {
  background-color: #e9ecef;
  padding: 1rem;
}

footer p {
  margin: 0;
}

 /***** Cookies  *****/
 .cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cookie-consent-banner .accept-cookies-button {
  background-color: var(--button-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

 /***** End Cookies  *****/

@media (max-width: 480px) {
  body {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .intro {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .nav-item {
    margin-left: auto;
  }
  #hero h1 {
    font-size: 1.5rem;
  }
  .about-content {
    flex-direction: column; /* 1 column on small screens */
  } 
}